body {
    background-color: var(--background) !important;
    display: grid;
    place-items: center;
    font-family: 'Source Sans Pro', Helvetica, sans-serif !important;
    font-size: 1.2rem !important;
}

.home-container {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: var(--background-dark);
    box-shadow: 1px 1px 2px 2px var(--background-dark--shadow);
    border-bottom-right-radius: 15px;

    > a {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: var(--text-white);
        text-decoration: none;

        > img {
            border-radius: 50%;
        }
    }
}

.tos-container,
.pp-container {
    max-width: 1280px;
    padding: 1.2rem;
    margin-top: 10dvh;
}

h1 {
    font-weight: bold !important;
    margin-bottom: 1.5rem !important;
    margin-top: 1rem !important;
}

h3 {
    font-weight: bold !important;
}

@media (max-width: 480px) {

    h4 {
        font-size: 1.1rem !important;
    }

    p {
        font-size: 1rem !important;
    }
}